#body{
    background-color: black;
    color: gray;
    
}
p{
    margin-top: 100px;
    text-align: center;
}
span{
    color: bisque;
}
H1{
    margin-top: 200px;
color: rgb(41, 163, 163);
}
div{
margin-top: 100px;
}